@import "scss/variables";

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap"); // Inter font import

* {
    font-family: "Inter", sans-serif;
}

body {
    background-color: #fdfdfd   !important;
    color: $black-color;
}

@font-face {
    font-family: "Helvetica";
    src: url("fonts/Helvetica/Helvetica.ttf");
}

.user {
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
    text-align: center;
    gap: 1rem;
}

.user > p {
    display: flex;
    align-items: center;
    text-align: center;
    color: white !important;
    margin: 0 !important;
    gap: 1rem;
}

.bg-body {
    background-color: #fdfdfd !important;
}

i {
    font-size: 1.7rem;
    color: #141414;
}

.buttons-sect > i {
    font-size: 3rem;
}

#infoUsuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 6rem;
    background-color: #13293d;
    gap: 1rem;
    border-bottom: 0.5px solid white;
    border-top: 0.5px solid white;
}

#avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    border: 1px solid #13293d;
    box-shadow: none;
    cursor: default;
}

label {
    color: #141414;
}

.heading,
.search {
    color: #141414;
}

.border-bottom,
.border-top,
.border-end,
.border-start,
.border {
    border-color: #13293d !important;
}

.button {
    border: 2px solid #13293d;
    color: #141414;
    background-color: #ceff1a;
    font-weight: bold;
    font-size: 1.2rem;
}

footer {
    padding: 0 !important;
}

footer > .border-bottom {
    border-color: #2e455a !important;
}

.navbar,
.hero,
.socials > p,
footer {
    background-color: #13293d !important;
    color: #e4f4ff !important;
}

.hero > div > p {
    color: white;
}

@font-face {
    font-family: "SF Mono";
    src: url("fonts/SFMono/SFMono-Bold.otf") format("opentype");
}

p,
h1 {
    font-family: "Helvetica" !important;
    color: #141414;
}

.art-image-sm,
.img {
    background-image: url("https://source.unsplash.com/random");
    background-position: center;
}

.username-text {
    color: #1f1f1f;
    margin-bottom: 1px !important;
}

.text-muted {
    color: #5c5c5c !important;
}

.display-1 {
    font-family: "SF Mono" !important;
    letter-spacing: -5px;
    color: #141414;
}

.trend-article > p.text-muted {
    font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Helvetica" !important;
    font-weight: bold;
}

.display-2,
.display-5 {
    font-family: "Helvetica" !important;
    font-weight: bold;
}

.art-nav-s > p {
    font-size: 0.9rem;
}

.texto-etiquetas,
.art-destacado,
.art {
    color: #141414 !important;
}

.etiqueta {
    background-color: rgb(221, 221, 221);
    color: #141414;
}

.copy > p,
.politicas > p {
    color: #b4ddf8 !important;
}

/*Estilos para navbar*/
.navbar {
    background-color: $navbar-bg !important;
    backdrop-filter: $blur-bg-filter;
    color: $white-color !important;
    background-blend-mode: overlay;

    a {
        color: white !important;
    }

    button {
        background-color: white;
    }

    /* para safari */
    -webkit-backdrop-filter: $blur-bg-filter;
    font-size: $navbar-font-size;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .post-info {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        margin: 3rem 2rem;
        width: $container-width;

        header {
            margin-bottom: 1rem;

            p {
                margin: 0;
            }
        }

        .art-description {
            margin-top: 1rem;
            width: 45vw;
        }

        .display-2 {
            font-weight: bold !important;
        }

        p {
            font-size: $text-size;
        }

        h1 {
            font-weight: 600;
        }
    }

    .img-container {
        margin: 0rem 2rem !important;

        img {
            border: 2px solid black;
        }

        p {
            color: darkgray;
            align-self: center;
            font-size: 0.813rem;
            padding-top: 1rem;
            font-style: italic;
        }
    }

    .profile {
        width: 80vw;
    }

    .art-content {
        width: 80vw;

        p.art-text {
            margin-top: 1.5rem;
            font-size: 21px;
            // serif para una mejor lectura
            font-family: serif !important;
            text-align: justify;
            letter-spacing: 130%;
            line-height: 2.2rem;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: 2rem;
            font-weight: bold !important;
            color: $primary-color !important;
        }
    }

    .art-actions {
        width: 20vw;
        i {
            font-size: 3rem;
            cursor: pointer;
        }
    }

    .author-name {
        font-weight: bold;
        font-size: 1.2rem;
    }

    .followers {
        font-size: 13px;
    }
}

.follow {
    background-color: $primary-color;
    color: white;
    border: 0;
    padding: 1em 4em;
    border: 2px solid $primary-color;

    transition: 0.3s ease;
}

.follow:hover {
    background-color: $highlight-color;
    color: $primary-color;
    border: 2px solid $primary-color;
}

button {
    border-radius: 5px !important;
}

footer {
    background-color: $primary-color;
    color: darkgray;
    border: 0;
}

.socials {
    i {
        font-size: 3rem;
        cursor: pointer;

        transition: 0.3s ease;
    }
    i:hover {
        color: #ceff1a;
    }
}

.info {
    a,
    p {
        text-decoration: none;
        color: gray;
        font-size: 13px;
    }
}

#app {
    background-color: white;
    padding: 4rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left !important;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 15px;
}

.form > p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 10px;
}

.form input {
    padding: 0.3rem 1rem;
    border: 1px solid gray;
    border-radius: 50px;
}

.form button {
    padding: 1rem 3rem;
    align-self: center;
    background-color: darkblue;
    color: white;
    border: 1px solid gray;
    border-radius: 50px;
    cursor: pointer;
}

.p-button {
    align-self: center;
    margin-top: 10px;
}

.form button:hover {
    background-color: rgb(33, 33, 224);
}

#usersTable {
    margin: 1rem;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid gray;
}

#usersTable tr td {
    padding: 0.5rem;
    border: 1px solid gray;
}

#usersTable tr th {
    padding: 0.5rem;
    border: 1px solid gray;
    background-color: darkblue;
    color: white;
}

/* Cambiar los estilos después */

#usersTable tr td button {
    padding: 0.5rem 1rem;
    background-color: darkblue;
    color: white;
    border: 1px solid gray;
    border-radius: 50px;
    cursor: pointer;
}

#usersTable tr td button:hover {
    background-color: rgb(33, 33, 224);
}

.d-none {
    display: none;
}

/* todos los <p> que tengan como att "type='subtitulo'" */
p[type="subtitulo"] {
    color: rgb(190, 190, 190);
}

.btn-blur-bg,
[type="text"],
[type="password"] {
    border-radius: 12px;
}

#loginButton {
    background-color: #ceff1a;
    color: #141414;
    border: none;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: 1px solid #13293d;
}

input {
    background-color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 0 !important;
    border: 1px solid #13293d;
    color: #2e455a;
}

.btn-blur-bg:focus {
    background-color: red !important;
}

img {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    cursor: pointer;
    /* Box shadow para las imagenes */
    box-shadow: 2px 2px 44px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 2px 44px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 44px -7px rgba(0, 0, 0, 0.75);
}

img:active {
    opacity: 1;
}

.avatar-picker {
    list-style: none;
    padding: 0;
    display: flex;
}

.avatar-picker li {
    margin: 0rem 1.5rem;
}

.avatar-picker input[type="radio"] {
    display: none;

    transition: 0.5s ease;
}

.avatar-picker label {
    border: 0.3rem solid transparent;
    border-radius: 5rem;
    opacity: 0.5;
    cursor: pointer;

    transition: 0.2s ease;
}

.avatar-picker label:hover {
    cursor: pointer;
    opacity: 1;
}

.avatar-picker label img {
    width: 100px;
    height: 100px;
    border-radius: 5rem;
    animation-name: rotationDrake;
    animation-duration: 5s;
    animation-iteration-count: infinite;

    /* Transitions para que al hacer hover o escoga la imagen haga un efecto chulo. */
    transition: 0.5s ease;
}

/* Animación usada */
@keyframes rotationDrake {
    from {
        -moz-transform: rotate(0deg) skew(0deg, 0deg);
        -webkit-transform: rotate(0deg) skew(0deg, 0deg);
        -o-transform: rotate(0deg) skew(0deg, 0deg);
        -ms-transform: rotate(0deg) skew(0deg, 0deg);
        transform: rotate(0deg) skew(0deg, 0deg);
    }

    to {
        -moz-transform: rotate(360deg) skew(0deg, 0deg);
        -webkit-transform: rotate(360deg) skew(0deg, 0deg);
        -o-transform: rotate(360deg) skew(0deg, 0deg);
        -ms-transform: rotate(360deg) skew(0deg, 0deg);
        transform: rotate(360deg) skew(0deg, 0deg);
    }
}

.avatar-picker input[type="radio"]:checked + label {
    border-color: #ceff1a;
    opacity: 1;
    border-radius: 5rem;
}

.divider {
    font-size: 13px;
    display: flex;
    align-items: center;
    color: $black-color;
}

.divider::before,
.divider::after {
    flex: 1;
    content: "";
    padding: 0.5px;
    background-color: #5c5c5c;
    margin: 15px;
}

.loginWith > a > i {
    font-size: 5rem;
}

.login {
    text-decoration: none;
}

.btn-primary {
    background-color: #ceff1a !important;
    color: #141414 !important;
    border: none !important;
    border-radius: 0 !important;
    /* Box shadow para el botón de registrarse */
    box-shadow: 2px 2px 44px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 2px 44px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 44px -7px rgba(0, 0, 0, 0.75);
}

.login-p {
    color: #858585;
    align-self: center;
}

fieldset > .avatars {
    display: flex;
    margin: 4rem 0;
}

// cuando la pantalla sea igual o menor a 960px...
@media (max-width: 960px) {
    section {
        h1 {
            width: 90% !important;
        }
    }

    .art-description {
        width: 75vw !important;
    }
}

@media (max-width: 1000px) {
    .art-actions {
        width: 60vw !important;
    }
}
